{% extends '_base.html' %}
{% block content %}
    <style>
        /* Add CSS styles for circular images */
        .character-photo {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            /* Creates a circular clipping mask */
            object-fit: cover;
            /* Maintains the image aspect ratio and crops as needed */
        }
    </style>
    <h1>{{ classgroup }} Sessions</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Class Group</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for session in class_sessions %}
                <tr data-href="{% url 'attendance_records' pk=session.pk %}"
                    style="cursor: pointer">
                    <td>{{ session.date }}</td>
                    <td>{{ session.class_group }}</td>
                    <td>{{ session.start_time }}</td>
                    <td>{{ session.end_time }}</td>
                </tr>
            {% endfor %}
        </table>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const tableRows = document.querySelectorAll('tr[data-href]')
                tableRows.forEach((row) => {
                    row.addEventListener('click', function() {
                        window.location.href = row.getAttribute('data-href')
                    })
                })
            })
        </script>
    {% endblock %}
